@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
  --background-white: #f8f8f8;
  --ubuntu: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-white);
}

.page-container {
  width: 40%;
  height: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-white);
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 40px 0;
}

.pokemon-logo {
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrapper {
  margin-top: 5px;
}

.search-input {
  font-family: var(--ubuntu);
  font-size: 13px;
}

.search-btn {
  margin-top: 5px;
  font-family: var(--ubuntu);
  font-size: 13px;
}

.name-description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#name-value {
  font-family: var(--ubuntu);
  font-size: 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#description-value {
  font-family: var(--ubuntu);
  font-size: 13px;
  margin-left: 15px;
  color: #808080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* DO OVDJE SVE VALJA */

.pokedex-stats {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.nonstats-nonbase {
  display: flex;
  flex-direction: row;
}

.sprite-container {
  width: 200px;
  height: 200px;
}

#pokemon-sprite {
  width: 200px;
  height: 200px;
}

.nonbase-container {
  display: flex;
  flex-direction: column;
  font-family: var(--ubuntu);
  font-size: 15px;
  margin-left: 40px;
}

.nonbase-stat {
  display: flex;
  flex-direction: row;
  height: 40px;
}

#nationalNum-value,
#species-value,
#height-value,
#weight-value,
#gender-value,
#baseExp-value,
#captureRate-value {
  margin-left: 3px;
}

#nationalNum-title,
#type-title,
#species-title,
#height-title,
#weight-title,
#gender-title,
#baseExp-title,
#captureRate-title,
#hp-title,
#attack-title,
#defense-title,
#specialAttack-title,
#specialDefense-title,
#speed-title {
  color: #808080;
}

.base-stats-container {
  display: flex;
  flex-direction: column;
}

.base-stat {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.nonbase-titles-container,
.nonbase-values-container {
  margin: 0 15px 0 15px;
  font-family: var(--ubuntu);
  font-size: 13px;
}

.base-stats-title,
.base-stats-value {
  margin: 0 15px 0 0;
  font-family: var(--ubuntu);
  font-size: 13px;
}

.nonbase-titles-container,
.base-stats-title {
  color: #808080
}

#type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#type-value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.typeParagraph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

#hp-title,
#hp-value {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

/* p {
  height: 15px;
  margin-bottom: 10px;
} */

/* .bar {
  margin-top: 30px;
  height: 20px;
  width: 255px;
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.bar {
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  margin-left: 15px;
  height: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}