@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
  --background-white: #f8f8f8;
  --ubuntu: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-white);
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 40px 0;
}

.pokemon-logo {
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrapper {
  margin-top: 5px;
}

.search-input {
  font-family: var(--ubuntu);
  font-size: 13px;
}

.search-btn {
  margin-top: 5px;
  font-family: var(--ubuntu);
  font-size: 13px;
}

.name-description {
  display: flex;
  flex-direction: row;
}

#name-value {
  font-family: var(--ubuntu);
  font-size: 20px;
}

#description-value {
  font-family: var(--ubuntu);
  font-size: 13px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.pokedex-stats {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.nonstats-nonbase {
  display: flex;
  flex-direction: row;
}

.sprite-container {
  width: 200px;
  height: 200px;
}

.pokemon-sprite {
  width: 200px;
  height: 200px;
}

.nonbase-container {
  display: flex;
  flex-direction: row;
}

.base-stats-container {
  display: flex;
  flex-direction: row;
}

.nonbase-titles-container,
.nonbase-values-container {
  margin: 0 15px 0 15px;
  font-family: var(--ubuntu);
  font-size: 13px;
}

.base-stats-title,
.base-stats-value {
  margin: 0 15px 0 0;
  font-family: var(--ubuntu);
  font-size: 13px;
}

.nonbase-titles-container,
.base-stats-title {
  color: #808080
}
/* .bar {
  margin-top: 30px;
  height: 20px;
  width: 255px;
  display: flex;
  flex-direction: row;
} */

